@font-face {
  font-family: 'Exo-Thin';
  src: url('/static/fonts/Exo20-Thin.woff2') format('woff2'),
       url('/static/fonts/Exo20-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
